/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -webkit-tap-highlight-color: transparent;
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

.root {
  max-width: 1600px;
  display: flex;
  height: 100%;
  margin: auto;
}

.content {
  flex-grow: 1;
  padding: 1em;
  width: 100%;
}

.toolbar {
  height: 80px;
}

.download-btn {
  display: flex;
  justify-content: center;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.movie-card__description {
  font-size: 14px;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  opacity: 0.7;
}

.container-space-around {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 !important;
  flex-direction: "row";
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

@media (max-width: 599px) {
  .movie-card__description {
    -webkit-line-clamp: unset;
    line-clamp: unset;
  }

  .search-box {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .search-input {
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .container-space-around {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media (display-mode: standalone) {
  * {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .download-btn {
    display: none;
  }
}
